# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.csv
*.Rhistory
the analytic edge/*.R
the analytic edge/*.Rmd
the analytic edge/*.html
*.RData
*.RDataTmp
stratch_cache/*.*
*.rdb
*.rdx
*.properties
EX101x/neo4jproject/dbms/auth
*.log
EX101x/neo4jproject/neostore
*.a
EX101x/neo4jproject/neostore.counts.db.b
*.id
EX101x/neo4jproject/neostore.labeltokenstore.db
*.names
EX101x/neo4jproject/neostore.nodestore.db.labels
*.arrays
EX101x/neo4jproject/neostore.propertystore.db.index
*.keys
EX101x/neo4jproject/neostore.propertystore.db.strings
*.cfs
EX101x/neo4jproject/schema/label/lucene/segments_1
*.gen
EX101x/neo4jproject/neostore.transaction.db.0
*.db
EX101x/neo4jproject/store_lock
EX101x/neo4jproject/rrd